<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button size="small" class="border-2-circle">
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ng-container *ngIf="!isCardListOfOtherUser; else copyButton">
      <ion-fab-button
        size="small"
        class="border-2-circle"
        (click)="playButtonEmit.emit()">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        size="small"
        (click)="addButtonEmit.emit()"
        class="border-2-circle">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ng-container>
  </ion-fab-list>
</ion-fab>

<ng-template #copyButton>
  <ion-fab-button
        size="small"
        class="border-2-circle"
        (click)="copyButtonEmit.emit()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
</ng-template>
