/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

ion-app {
  --ion-background-color: #f4eeff;
  --ion-font-family: 'Poppins';
}

ion-tab-bar {
  --background: #424872;
  --color: #eef9ff;
  border-radius: 24px;
}

ion-button {
  margin: 0;
}

.ion-item-no-padding-end {
  --inner-padding-end: 0 !important;
}

ion-input {
  --highlight-color-focused: none !important;
  --highlight-background: none !important;
  --highlight-color-invalid: none !important;
  --highlight-color-valid: none !important;
  --highlight-color: none !important;
}

ion-card {
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 2px 0px;
}

.medium-color {
  color: #a6b1e1;
}

.header-icon {
  font-size: 18px;
}

.primary-button {
  --background: #a6b1e1;
  width: 100%;

  &-outline {
    --background: inherit;
    --color: #a6b1e1;
    --border-color: #a6b1e1;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: none;
  }
}

.secondary-button {
  --background: #424872;
  width: 100%;
}

.border {
  &-1 {
    &-bottom-line {
      border-bottom: 1px solid #a6b1e1;
    }
  }

  &-2 {
    border: 2px solid #a6b1e1;
    &-bottom-line {
      border-bottom: 2px solid #a6b1e1;
    }

    &-circle {
      border: 2px solid #a6b1e1;
      border-radius: 36px;
    }
  }
}

.line-color {
  --border-color: #a6b1e1;
}

.align-item-center {
  display: flex;
  align-items: center;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.m {
  &e-1 {
    margin-right: 4px;
  }

  &e-2 {
    margin-right: 8px;
  }

  &e-3 {
    margin-right: 12px;
  }

  &s-1 {
    margin-left: 4px;
  }

  &-1 {
    margin: 4px;
  }

  &-3 {
    margin: 12px;
  }

  &t-3 {
    margin-top: 12px;
  }

  &t-4 {
    margin-top: 16px;
  }

  &x-4 {
    margin-right: 16px;
    margin-left: 16px;
  }
}

.fs {
  &-11 {
    font-size: 11px;
  }

  &-14 {
    font-size: 14px;
  }

  &-18 {
    font-size: 18px;
  }

  &-24 {
    font-size: 24px;
  }

  &-28 {
    font-size: 28px;
  }

  &-32 {
    font-size: 32px;
  }
}

.p {
  &b-0 {
    padding-bottom: 0;
  }

  &t-0 {
    padding-top: 0;
  }

  &y-24px {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &v-0 {
    padding-bottom: 0;
    padding-top: 0;
  }

  &s-0 {
    padding-left: 0;
  }

  &e-0 {
    padding-right: 0;
  }

  &-inner-v-2 {
    --inner-padding-end: 8px !important;
    --inner-padding-start: 8px !important;
  }
}

.w {
  &-50 {
    width: 50%;
  }

  &-100 {
    width: 100%;
  }
}

.error-text {
  font-size: 10px;
}

.error-toastr {
  --background: #d20062;
  color: #000;
}

.error-outline-button {
  --border-color: #d20062;
  --border-style: solid;
  --border-width: 1px;
  --color: #d20062;
  --background: inherit;
  --box-shadow: none;
}

.success-toastr {
  --background: #83c0c1;
  --color: #4b4a50;
  text-align: center;
}

.error-color {
  color: #d20062;
}

.absolute {
  position: absolute;
}

.absolute-back-button {
  position: absolute;
  // left: 22px;
  // --padding-start: 0px;
  // margin-top: 8px;
}

.no-shadow,
.no-shadow::part(native) {
  box-shadow: none;
}

.alert {
  &-input-group {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &-input,
  &-input:focus {
    padding-bottom: 8px !important;
    margin: 0 !important;
    padding-top: 16px !important;
    border-bottom: 1px solid #a6b1e1 !important;
  }

  &-head {
    padding-top: 24px !important;
    padding-bottom: 8px !important;
  }

  &-button-group {
    padding-top: 16px !important;
    padding-bottom: 14px !important;
  }

  &-button {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  &-button:last-child {
    margin-right: 0 !important;
  }
}

ion-fab {
  > ion-fab-button::part(native) {
    background-color: #f4eeff;
    color: #424242;
  }
}

.h-250px {
  height: 250px;
}

.invisible {
  visibility: hidden;
}

.form-col {
  padding: 0;
}

ion-col {
  padding-left: 0;
  padding-right: 0;
}
