<app-header
  [title]="title"
  [showSaveButton]="isPostValid"
  (saveButtonEmit)="savePost()"
  [showBackArrow]="true"
  [subtitle]="subtitle"
  [navigateBackRouter]="navigateBackRouter"
  [showSavingMissed]="postForm?.controls?.['text']?.value?.length"
(navigateBackWithoutSavingEmit)="navigateBackWithoutSaving($event)"></app-header>
<ion-content class="ion-padding">
  <div class="card-row">
    <ion-card mode="md" class="w-100">
      @if (postForm) {
        <form [formGroup]="postForm">
          <ion-row
            class="input-row ion-padding-horizontal ion-justify-content-between pt-2">
            <ion-textarea
              mode="md"
              [spellcheck]="false"
              [autoGrow]="true"
              [maxlength]="250"
              [counter]="true"
              autocapitalize="sentences"
              id="text"
              class="form-control"
              formControlName="text"
              placeholder="{{ 'WRITE_HERE_THE_CONTEXT_OF_POST' | translate }}"
            (keyup)="isValid()"></ion-textarea>
          </ion-row>
          @if (!this.image) {
            <ion-row class="ion-justify-content-between">
              <ion-item mode="md" lines="none">
                <ion-icon
                  mode="md"
                  name="image-outline"
                (click)="openImageModal()"></ion-icon>
              </ion-item>
              <ion-item mode="md" lines="none">
                <ion-icon
                  mode="md"
                  name="help-outline"
                (click)="openChatGPTModal()"></ion-icon>
              </ion-item>
            </ion-row>
          } @else {
            <ion-row
              class="pb-4 ion-padding-horizontal ion-justify-content-between ion-align-items-center">
              <app-image
                class="mini-image"
                [imageString]="image.contentAsString"
              [type]="image.type"></app-image>
              <ion-icon
                mode="md"
                class="fs-20 error-color"
                name="trash-outline"
              (click)="removeImage()"></ion-icon>
            </ion-row>
          }
        </form>
      }
    </ion-card>
    <app-edit-acces-fab
      [currentAccess]="currentAccessOfPost"
    (changeAccessEmit)="changeAccess($event)"></app-edit-acces-fab>
  </div>
</ion-content>

