.mini-image {
  height: 75px;
}

.card-row {
  justify-content: center;
  display: flex;
}

app-edit-acces-fab {
  position: absolute;
  top: calc(100dvh - 165px);
  left: 8px;
}

@media only screen and (min-width: 632px) {
  ion-card {
    width: 600px;
  }

  app-edit-acces-fab {
    left: calc(50% - 320px + 12px);
  }
}
