$a: 100%;
$b: 24px;

ion-title {
  margin: 0 12px;
}

.left-fab {
  top: 10px;
  left: 6px;
}

.right-fab {
  top: 6px;
  left: calc(#{$a} - #{$b});

  &-container {
    top: 14px;
    left: calc(#{$a} - #{$b});
  }
}