<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/70b40c00-4e91-4e53-8447-25f83364cc69/resourceGroups/languAI/providers/Microsoft.Web/sites/languai</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://languai.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ec6e1831-6116-418a-8675-9441e1a162d8</ProjectGuid>
    <PublishUrl>https://languai.scm.azurewebsites.net/</PublishUrl>
    <UserName>$languai</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>