<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/654c4ba0-9043-4f7d-a553-32a777a0ca20/resourceGroups/languAI/providers/Microsoft.Web/sites/languAI</ResourceId>
    <ResourceGroup>languAI</ResourceGroup>
    <ApiResourceId>/subscriptions/654c4ba0-9043-4f7d-a553-32a777a0ca20/resourceGroups/languAI/providers/Microsoft.ApiManagement/service/LanguAIBackendapi/apis/LanguAIBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://languai.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ec6e1831-6116-418a-8675-9441e1a162d8</ProjectGuid>
    <MSDeployServiceURL>languai.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>languAI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$languAI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwX2auCUGv0C25XgE8WBJVwAAAAACAAAAAAAQZgAAAAEAACAAAADJFo2ofadvbVJUTaURvIBaQbUSgfqxKc1zUHC9xyklQgAAAAAOgAAAAAIAACAAAADjucKnrvxoxSMWN4Ql2icPUuS3Zs+flFCoE3fhOb1wy4AAAABkci+kkL6JwEFLbwhRJEsuOQ4QxT6PnIVWW+wiN686wz0RG+ZXk3hddhTwg3NrKhW6H79bCJUev+bpgkEjLesHIa62yty0KHbBaY3r/Bac3EsoVIVNcJYJOr41I/p0mkjR3mtUk5Umx7y+OgU6zhSxXz4Xo2WlC3Kv7x4C26S5rEAAAABYE6igHeDWVPTbzhi2KPslOvNnYsxJx3xd83aH2jcv6IcCptosdcOeDmGaMp3sCg9ZhjPKx/IfcTdrs7RxcDeK</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>