<div>
  <ion-row class="exercise-title">
    <ion-label class="ion-text-center">
      {{ 'CLICK_ON_THE_MISSING_WORD' | translate }}
    </ion-label>
  </ion-row>

  <div class="row ion-margin-bottom">
    <ion-card class="ion-padding no-shadow">
      <div class="ion-align-items-center label-container">
        <ion-label class="ion-padding-bottom ion-text-center">
          {{ exercise?.firstPartOfTheSentence }}
        </ion-label>
        <div
          *ngIf="!isCorrect; else correct"
          class="d-flex ion-justify-content-center">
          <span class="blank">
            <span style="visibility: hidden">
              {{ exercise?.correctWord }}
            </span>
          </span>
        </div>

        <ion-label class="ion-padding-top ion-text-center">
          {{ exercise?.lastPartOfTheSentence }}
        </ion-label>
      </div>
    </ion-card>
  </div>

  <div #container>
    <div class="row missing-words-container">
      <ion-card
        [ngStyle]="{ background: colors[index % colors.length] }"
        class="missing-words ion-text-center"
        *ngFor="let word of exercise?.words; let index = index"
        (click)="checkWord(word)">
        {{ word }}
      </ion-card>
    </div>
  </div>
</div>

<ng-template #correct>
  <div class="d-flex ion-justify-content-center">
    <span class="correct-blank">
      <span>
        {{ exercise?.correctWord }}
      </span>
    </span>
  </div>
</ng-template>
