.blank {
  width: fit-content;
  min-width: 100px;
  padding: 0 16px;
  height: 24px;
  background-color: #cdcecf;
  border-radius: 6px;
  display: inline-block;
  border: 1px solid #424872;
}

ion-card {
  background-color: hsl(229, 50%, 98%);
  border-radius: 8px;
}

.missing-words {
  margin: 12px;
  width: 80%;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 4px 16px;
  border-radius: 6px;
  min-width: 100px;
}

.missing-words-container {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.correct-blank {
  min-width: 100px;
  width: fit-content;
  height: 24px;
  padding: 0 16px;
  background-color: #83c0c1;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.label-container {
  display: grid;
}
