<ion-row class="exercise-title">
  <ion-label>
    {{ 'CLICK_ON_THE_MISSING_WORD' | translate }}
  </ion-label>
</ion-row>

<div #container>
  <div class="row ion-margin-bottom">
    <ion-card class="ion-padding py-24px no-shadow">
      <div class="d-flex ion-align-items-center">
        <span>
          <span class="me-1">{{ exercise?.firstPartOfTheSentence }}</span>
          <div *ngIf="!isCorrect; else correct" class="blank me-1"></div>
          <span>{{ exercise?.lastPartOfTheSentence }}</span>
        </span> 
      </div>
    </ion-card>
  </div>
  <div class="row missing-words-container">
    <ion-card
      class="missing-words"
      *ngFor="let word of exercise?.words"
      (click)="checkWord(word)">
      {{ word }}
    </ion-card>
  </div>
</div>

<ng-template #correct>
  <div class="correct-blank me-1">
    {{ exercise?.correctWord }}
  </div>
</ng-template>
