ion-list {
  padding-top: 0;
  margin-bottom: 32px;
}

app-edit-fab {
  position: fixed;
  top: calc(100dvh - 62px);
  left: calc(100% - 66px);
}

app-edit-acces-fab {
  position: fixed;
  top: 100dvh;
  left: 0;
}

.word-card {
  padding: 8px 16px;
  max-width: 500px;
}

@media only screen and (min-width: 632px) {
  app-edit-fab {
    left: calc(50% + 262px);
  }
}
