<app-header
  [fontSizeClass]="'fs-24'"
[title]="'CREATE_CARDLIST' | translate"></app-header>

<ion-content class="ion-padding">
  <div class="form-container">
    @if (newCardlistForm) {
      <form [formGroup]="newCardlistForm" class="px-4">
        <ion-card class="ion-padding">
          <ion-row class="ion-margin-bottom">
            <ion-input
              type="text"
              id="name"
              class="form-control"
              label="{{ 'NAME' | translate }}"
              labelPlacement="stacked"
            formControlName="name"></ion-input>
          </ion-row>
          <ion-select
            class="ion-margin-bottom"
            okText="{{ 'CONFIRM' | translate }}"
            cancelText="{{ 'CANCEL' | translate }}"
            formControlName="topicId"
            [label]="'TOPIC' | translate"
            label-placement="stacked"
            placeholder="{{ 'SELECT_A_TOPIC' | translate }}">
            @for (topic of topicList; track topic) {
              <ion-select-option [value]="topic.id">
                {{ topic.name }}
              </ion-select-option>
            }
          </ion-select>
          <ion-row class="ion-margin-bottom w-100">
            <ion-button
              mode="md"
              class="primary-button no-shadow w-100"
              (click)="confirm()">
              {{ 'CONFIRM' | translate }}
            </ion-button>
          </ion-row>
          <ion-row class="w-100">
            <ion-button
              mode="md"
              class="error-button w-100 no-shadow"
              (click)="dismiss()">
              {{ 'CANCEL' | translate }}
            </ion-button>
          </ion-row>
        </ion-card>
      </form>
    }
  </div>
</ion-content>
