<app-header [title]="'CREATE_CARDLIST' | translate"></app-header>

<ion-content>
  <ng-container *ngIf="!isLoading">
    <form *ngIf="newCardlistForm" [formGroup]="newCardlistForm" class="px-4">
      <ion-input
        type="text"
        id="name"
        class="form-control"
        label="{{ 'NAME' | translate }}"
        labelPlacement="stacked"
        formControlName="name"></ion-input>

      <ion-select
        formControlName="topicId"
        [label]="'TOPIC' | translate"
        label-placement="stacked">
        <ion-select-option *ngFor="let topic of topicList" [value]="topic.id">
          {{ topic.name }}
        </ion-select-option>
      </ion-select>

      <ion-row class="ion-margin-bottom w-100">
        <ion-button class="primary-button no-shadow w-100" (click)="confirm()">
          {{ 'CONFIRM' | translate }}
        </ion-button>
      </ion-row>
      <ion-row class="w-100">
        <ion-button class="error-outline-button w-100" (click)="dismiss()">
          {{ 'CANCEL' | translate }}
        </ion-button>
      </ion-row>
    </form>
  </ng-container>
</ion-content>
