<ion-content [fullscreen]="true" class="ion-padding">
  <app-header
    [showAddButton]="true"
    [title]="title"
    (addButtonEmit)="addCardList()"></app-header>
    <!-- TODO Középre igazítani majd a listát -->
  <ion-list
    *ngIf="!isLoading"
    class="d-flex ion-wrap ion-justify-content-center ion-no-padding">
    <!-- <ion-card class="border-2" (click)="addCardList()">
      <ion-card-header class="ion-text-center border-2-bottom-line">
        <div
          class="d-flex ion-align-items-center ion-justify-content-center"
          id="add-card-container">
          <ion-icon
            class="fs-32 medium-color"
            name="add-circle-outline"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        {{ 'CREATE_CARD_LIST' | translate }}
      </ion-card-content>
    </ion-card> -->

    <ion-card
      class="border-2"
      *ngFor="let cardList of cardLists"
      (click)="openCardList(cardList.id!)">
      <!--TODO megcsinálni a listát-->
      <ion-card-header class="ion-text-center border-2-bottom-line">
        {{ cardList.modified | date:'YYYY. MM. dd' }}
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-label class="w-100">{{ cardList.name }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="w-100">
            {{ cardList.created | date:'YYYY. MM. dd' }}
          </ion-label>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ng-template #missingCardList>
  <ion-row class="ion-justify-content-center" class="w-50">
    <ion-label>{{ 'YOU_DONT_HAVE_ANY_CARD_LIST' | translate }}</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button expand="block" (click)="addCardList()">
      {{ 'ADD_CARD_LIST' | translate }}
    </ion-button>
  </ion-row>
</ng-template>
