.topic-name {
  background: #a6b1e1;
}

.topic-card {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

ion-searchbar {
  --border-radius: 20px;
  border-radius: 20px;
  --box-shadow: none;
}
