ion-searchbar {
  --border-radius: 20px;
  border-radius: 20px;
  --box-shadow: none;
}

.topic-name {
  background: #a6b1e1;
}

.topic-card {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-row {
  width: 100%;
}

@media only screen and (min-width: 632px) {
  ion-card,
  .filter-row {
    width: 600px;
  }

  ion-content {
    justify-content: center;
  }

  .card-row,
  .filter-container {
    display: flex;
    justify-content: center;
  }
}
