<app-header [title]="'NEW_MESSAGE' | translate"></app-header>

<ion-content>
  <form *ngIf="newMessageForm" [formGroup]="newMessageForm" class="px-4">
    <ion-select
      class="pb-4"
      formControlName="userId"
      [label]="'USERNAME' | translate"
      label-placement="floating">
      <ion-select-option *ngFor="let friend of friendList" [value]="friend.id">
        {{ friend.name }}
      </ion-select-option>
    </ion-select>

    <ion-row class="ion-margin-bottom w-100">
      <ion-button
        mode="md"
        class="primary-button no-shadow w-100"
        (click)="confirm()">
        {{ 'CONFIRM' | translate }}
      </ion-button>
    </ion-row>
    <ion-row class="w-100">
      <ion-button
        mode="md"
        class="error-outline-button w-100"
        (click)="cancel()">
        {{ 'CANCEL' | translate }}
      </ion-button>
    </ion-row>
  </form>
</ion-content>
