<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-margin ion-padding-horizontal">
    <ion-tab-button tab="lessons" href="lessons">
      <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cards" href="cards">
      <ion-icon name="copy-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="forum" href="forum">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages" href="messages">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
