<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-margin">
    <ion-tab-button tab="lessons">
      <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="card-lists">
      <ion-icon name="copy-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="forum">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
