<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-margin ion-padding-horizontal">
    <ion-tab-button tab="lessons" href="lessons">
      <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
      <ion-label>{{ 'LESSONS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards" href="cards">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>{{ 'CARDS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum" href="forum">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>{{ 'COMMUNITY' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" href="messages">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>{{ 'MESSAGE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>{{ 'PROFILE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
