<ion-header>
  <ion-toolbar>
    <ion-title>message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row
    class="ion-margin-top"
    *ngFor="let message of messages"
    [ngClass]="message.sender === userId ? 'sent-row' : 'received-row'">
    <ion-card class="message-card">{{ message.text }}</ion-card>
  </ion-row>
</ion-content>

<ion-footer>
  <form *ngIf="chatForm" [formGroup]="chatForm">
    <div>
      <ion-row class="input-row ion-padding-horizontal">
        <ion-col size="10">
          <ion-input
            type="text"
            id="message"
            class="form-control"
            formControlName="message"
            placeholder="{{ 'ENTER_A_MESSAGE' | translate}}"></ion-input>
        </ion-col>
        <ion-col class="send-button" size="auto">
          <ion-icon class="fs-18" (click)="sendMessage()" name="send"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-footer>
