form {
  background-color: #f4eeff;
}

ion-card {
  padding: 10px 14px 8px 14px;
  border-radius: 13px / 20px;
}

.received-card {
  background-color: #dcd6f7;
}

.own-card {
  background-color: #ebf1fb;
}

ion-col {
  display: flex;
  align-items: center;
}

.message-row:last-child {
  margin-bottom: 12px;
}

.received-row {
  margin-left: 16px;
  margin-right: 64px;
}

.own-row {
  justify-content: end;
  margin-right: 16px;
  margin-left: 64px;
}

.input-row {
  justify-content: inherit;
  margin-bottom: 0;
}
