<app-header
  [title]="otherUser?.username ?? ''"
  [showBackArrow]="true"></app-header>
<ion-content #content>
  <ion-row
    class="ion-margin-top message-row"
    *ngFor="let message of messages"
    [ngClass]="message.senderId === userId ? 'own-row' : 'received-row'">
    <ion-card
      [ngClass]="message.senderId === userId ? 'own-card' : 'received-card'">
      {{ message.text }}
    </ion-card>
  </ion-row>
</ion-content>

<ion-footer>
  <form *ngIf="chatForm" [formGroup]="chatForm">
    <div>
      <ion-row
        class="input-row ion-padding-horizontal ion-justify-content-between">
        <ion-col size="10">
          <ion-input
            type="text"
            id="message"
            class="form-control"
            formControlName="message"
            placeholder="{{ 'ENTER_A_MESSAGE' | translate }}"
            (keyup)="isMessageValid()"></ion-input>
        </ion-col>
        <ion-col class="send-button" size="auto">
          <ion-icon
            class="fs-18"
            (click)="sendMessage()"
            name="send"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-footer>
