form {
  background-color: hsl(229, 50%, 98%);
}

ion-card {
  padding: 10px 14px 8px 14px;
  border-radius: 13px / 20px;
  max-width: 600px;
}

.received-card {
  background-color: #dcd6f7;
}

.own-card {
  background-color: #ebf1fb;
}

ion-col {
  display: flex;
  align-items: center;
}

.message-row:last-child {
  margin-bottom: 12px;
}

.received-row {
  margin-left: 16px;
  margin-right: 64px;
}

.own-row {
  justify-content: end;
  margin-right: 16px;
  margin-left: 64px;
}

.input-row {
  justify-content: inherit;
  margin-bottom: 0;
}

.unsent-message {
  opacity: 0.5;
}

ion-input {
  border-radius: 8px;
  --padding-start: 8px;
  --padding-right: 8px;
  background-color: hsl(229, 50%, 95%);
}
