// ion-row {
//     margin-bottom: 16px;
// }

// ion-row:last-child {
//     margin-bottom: 0;
// }

form {
  background-color: #f4eeff;
}

ion-card {
  padding: 10px 14px 8px 14px;
  background-color: #dcd6f7;
  border-radius: 13px / 20px;
}

ion-col {
  display: flex;
  align-items: center;
}

.received-row {
  margin-left: 16px;
}

.sent-row {
  justify-content: end;
  margin-right: 16px;
}

.input-row {
  justify-content: inherit;
}
