<app-header
  [title]="('LESSONS_TITLE' | translate)"
  [showAddButton]="true"
  [subtitle]="('LESSONS_SUBTITLE' | translate)"
  (addButtonEmit)="moreTopic()"
  class="ion-margin-bottom"></app-header>

<ion-content [fullscreen]="true" class="mt-3">
  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="topicList?.length; else missingCardList">
      <!-- TOPIC CARD-->
      <ion-card
        (click)="startExercises(topic.id!)"
        [style]="`background-image: url(../../../assets/topic-images/${topicImageSrcPipe.transform(topic.id!)}.jpg)`"
        class="topic-card ion-margin-bottom ion-margin-horizontal card-background-medium-color outline-text"
        *ngFor="let topic of topicList">
        <div class="overlay"></div>
        <ion-card-header class="fs-22 light-color">
          {{ topic | topicName }}
        </ion-card-header>
        <ion-card-content class="light-color">
          {{ topic.description }}
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #missingCardList>
  <ion-row>
    <ion-label>
      {{'YOU_MUST_HAVE_AT_LEAST_ONE_CARDLIST_TO_DO_EXERCISES' | translate}}
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-button
      mode="md"
      class="primary-button no-shadow"
      (click)="navigateToCardListsPage()">
      {{ 'NAVIGATE_TO_CARDLISTS_PAGE' | translate }}
    </ion-button>
  </ion-row>
</ng-template>
