.progress-bar-container {
  display: flex;
  justify-content: start;
  width: 75%;
  height: 12px;
  background-color: hsl(229, 50%, 98%);
  border-radius: 36px;
  max-width: 600px;
}

.progress-bar {
  background-color: #d4bcff;
  height: 12px;
  border-radius: 36px;
}

.toolbar-content {
  display: flex;
  justify-content: center;
}

ion-toolbar {
  --background: #dcd6f7;
}
