.input-row {
  border-radius: 8px;
  padding-left: 16px;
  background-color: hsl(229, 50%, 95%);
}

@media only screen and (min-width: 632px) {
  form {
    display: flex;
    justify-content: center;
  }

  ion-card {
    width: 600px
  }
}