<app-header
  [showAddButton]="true"
  [title]="title"
  (addButtonEmit)="navigateToPost()"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="!isLoading; else loader">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="posts.length; else missingPosts">
      <app-post-component
        *ngFor="let post of posts"
        [post]="post"
        [navigate]="true"
        (likeButtonEmit)="like($event)"
        (navigateButtonEmit)="navigateToPost($event)"></app-post-component>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #missingPosts>
  <div class="w-100">
    <p class="ion-no-margin ion-padding-bottom ion-text-center">
      {{ 'MISSING_POSTS' | translate }}
    </p>
    <p class="ion-no-margin ion-padding-bottom">
      {{ 'IF_YOU_WOULD_LIKE_TO_SEE_MORE_POSTS_SEARCH_FOR_FRIEND' | translate }}
    </p>
    <div class="ion-text-center">
      <ion-button (click)="searchForFriend()">
        <ion-icon name="search-outline"></ion-icon>
        {{ 'SEARCH_FOR_FRIEND' | translate }}
      </ion-button>
    </div>
  </div>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
