<ion-content class="ion-padding" [fullscreen]="true">
  <h1 class="ion-text-center">LanguAI</h1>
  <form *ngIf="loginForm" [formGroup]="loginForm">
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
          placeholder="{{ 'USERNAME' | translate}}"
          (ionChange)="modelChange()"></ion-input>
        <span
          *ngIf="isUsernameDirty && loginForm.get('username')?.hasError('required')"
          class="error-text">
          {{ 'USERNAME_IS_REQUIRED' | translate }}
        </span>
        <span
          *ngIf="isUsernameDirty && loginForm.get('username')?.hasError('minlength')"
          class="error-text">
          {{ 'MIN_6_CHARACTERS' | translate }}
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom">
      <ion-col class="ion-margin-horizontal">
        <ion-input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="{{ 'PASSWORD' | translate}}"
          (ionChange)="modelChange(false)"></ion-input>
        <span
          *ngIf="isPasswordDirty && loginForm.get('password')?.hasError('required')"
          class="error-text">
          {{ 'PASSWORD_IS_REQUIRED' | translate }}
        </span>
        <span
          *ngIf="isPasswordDirty && loginForm.get('password')?.hasError('minlength')"
          class="error-text">
          {{ 'MIN_6_CHARACTERS' | translate }}
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          class="ion-padding-horizontal primary-button w-100"
          (click)="login()">
          {{'SIGN_IN' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          class="ion-padding-horizontal secondary-button w-100"
          [routerLink]="['/register']">
          {{'SIGN_UP' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>{{'CONTINUE_WITHOUT_SIGN_IN' | translate}}</ion-label>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
