.word-card {
  justify-content: center;
  align-items: center;
  display: flex;
  --border-radius: 6px;
  background-color: hsl(229, 50%, 98%);
}

.words-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ion-card {
  background-color: hsl(229, 50%, 98%);
  border-radius: 8px;
  padding: 16px;
}
