ion-card {
  background-color: hsl(229, 50%, 98%);
  border-radius: 8px;
  padding: 16px;
}

.word-cards {
  width: 80%;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 4px 16px;
  border-radius: 6px;

  &-row {
    margin-bottom: 36px;
  }
}

.word-container {
  display: flex;
  flex-wrap: wrap;

  &-center {
    align-items: center;
  }
  &-start {
    align-items: start;
  }
}

.word-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dark-background {
  background-color: hsl(229, 50%, 98%);
  color: #424872;
}

.check-button {
  --background: #a6b1e1;
  --color: hsl(229, 50%, 98%);
}
