<ion-content [fullscreen]="true" class="ion-padding">
  <app-header
    [useNavController]="true"
    [showBackArrow]="true"
    (click)="navigateBack()"
    [title]="title"></app-header>
  <form *ngIf="profileForm" [formGroup]="profileForm">
    <!-- USERNAME -->
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-row class="line">
          <ion-col size="1.5" class="align-item-center fs-24 ps-0 form-col">
            <ion-icon name="person-outline"></ion-icon>
          </ion-col>
          <ion-col class="form-col">
            <ion-input
              id="username-input"
              name="username-input"
              [ngClass]="isEdit ? 'edit-mode' : 'readonly-mode'"
              type="text"
              [autocomplete]="false"
              formControlName="username"
              placeholder="{{ 'USERNAME' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- EMAIL -->
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-row class="line">
          <ion-col size="1.5" class="align-item-center fs-24 ps-0 form-col">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col class="form-col">
            <ion-input
              id="email-input"
              name="email-input"
              [ngClass]="isEdit ? 'edit-mode' : 'readonly-mode'"
              type="email"
              formControlName="email"
              placeholder="{{ 'EMAIL' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- LANGUAGE -->
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-row class="line">
          <ion-col size="1.5" class="align-item-center fs-24 ps-0 form-col">
            <ion-icon name="language-outline"></ion-icon>
          </ion-col>
          <ion-col class="form-col">
            <ion-select
              [ngClass]="isEdit ? 'edit-mode' : 'readonly-mode'"
              formControlName="language"
              (ngModelChange)="changeLanguage()">
              <ion-select-option
                *ngFor="let language of languages"
                [value]="language.id">
                {{ language.name!.toUpperCase() | translate }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- DATE OF BIRTH -->
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-row class="line d-flex">
          <ion-col size="1.5" class="align-item-center fs-24 ps-0 form-col">
            <ion-icon name="calendar-outline"></ion-icon>
          </ion-col>
          <ion-col class="ion-align-content-start form-col">
            <div class="d-flex">
              <ion-datetime-button
                [ngClass]="isEdit ? 'edit-mode' : 'readonly-mode'"
                [disabled]="!isEdit"
                datetime="datetime"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    #datetime
                    formControlName="dateOfBirth"
                    presentation="date"
                    id="datetime"
                    [showDefaultButtons]="true"
                    doneText="{{ 'OK' | translate }}"
                    cancelText="{{ 'CANCEL' | translate }}">
                    <span slot="title">{{ 'SELECT_YOUR_BIRTHDAY' }}</span>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </form>

  <ng-container *ngIf="!isEdit; else edit">
    <ion-row>
      <ion-button
        (click)="changeEditMode()"
        class="ion-padding-horizontal primary-button">
        {{ 'EDIT_PROFILE' | translate }}
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button
        (click)="changePassword()"
        class="primary-button-outline w-100 ion-padding-horizontal">
        {{ 'CHANGE_PASSWORD' | translate }}
      </ion-button>
    </ion-row>
  </ng-container>
</ion-content>

<ng-template #edit>
  <ion-row>
    <ion-button (click)="save()" class="ion-padding-horizontal primary-button">
      {{'EDIT_PROFILE' | translate}}
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button
      class="ion-padding-horizontal primary-button-outline w-100"
      (click)="changeEditMode()">
      {{'CANCEL' | translate}}
    </ion-button>
  </ion-row>
</ng-template>
