.line {
  border-bottom: 2px solid #a6b1e1;
}

.date-active {
  background: none;
  --color: none !important;
}

.input-row {
  border-radius: 8px;
  padding-left: 16px;
  background-color: hsl(229, 50%, 95%);
}

ion-input > label {
  .label-text-wrapper {
    font-size: 19px;
    --line-height: 19.5px;
    color: #818e9b;

    .label-text {
      white-space: normal;
    }
  }

  font-size: 16px;

  .native-wrapper {
    font-size: 15px !important;
    margin-top: 16px;
    --line-height: 21px;
  }
}

ion-datetime-button::part(native) {
  background: hsl(229, 50%, 95%);
  border: none;
  color: #424872;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

ion-datetime-button.datetime-button-disabled::part(native) {
  opacity: 0.6;
}

ion-datetime {
  --background: #fff1f2;
  --background-rgb: 255, 241, 242;

  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

.datetime-button-col {
  border-radius: 8px;
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: hsl(229, 50%, 95%);
}

ion-datetime::part(calendar-day) {
  color: #424872;
  box-shadow: none !important;
}

ion-datetime::part(calendar-day today) {
  border: 1px solid #424872;
}

ion-datetime::part(calendar-day):focus,
ion-datetime::part(calendar-day):active,
ion-datetime::part(calendar-day calendar-day-active):active,
ion-datetime::part(calendar-day[aria-selected='true']) {
  color: hsl(229, 50%, 98%) !important;
  background: #424872;
}

.calendar-day.calendar-day-active {
  border: 1px solid black;
  background: black;
}

.readonly-mode {
  opacity: 0.6 !important;
}

ion-badge {
  background: hsl(229, 50%, 98%);
  border-radius: 36px;
  color: #424872;
  font-size: 11px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.active-badge {
  background-color: #a6b1e1;
  box-shadow: none;
}

.flash-cards:not(:last-child) {
  margin-bottom: 16px;
}

.topic-name {
  background: #a6b1e1;
}

.topic-card {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

app-image {
  height: 120px;
}

@media only screen and (min-width: 632px) {
  .card-row,
  form {
    display: flex;
    justify-content: center;
  }

  .friend-card,
  .card-list-card,
  .details-card {
    width: 600px;
  }
}
