ion-avatar {
  min-width: 125px;
  min-height: 125px;
  max-width: 125px;
  max-height: 125px;
}

ion-img {
  height: 100%;
  width: 100%;
}

.avatar-container {
  height: 125px;
}

.line {
  border-bottom: 2px solid #a6b1e1;
}

.date-active {
  background: none;
  --color: none !important;
}

ion-datetime-button {
  --ripple-color: transparent;
}

ion-input > label {
  .label-text-wrapper {
    font-size: 19px;
    --line-height: 19.5px;
    color: #818e9b;

    .label-text {
      white-space: normal;
    }
  }

  .native-wrapper {
    font-size: 15px !important;
    margin-top: 16px;
    --line-height: 21px;
  }
}

ion-datetime-button::part(native) {
  background: none;
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 5px;
  color: black;
  opacity: 1;
}

.readonly-mode {
  opacity: 0.6 !important;
}
