<ion-content [fullscreen]="true" class="ion-padding">
  <app-header [navigationLink]="navigationLink" [title]="title"></app-header>

  <ion-row class="avatar-container ion-justify-content-center">
    <ion-avatar>
      <ion-img
        src="https://api.hvg.hu/Img/4B5CE600-76FE-4FA2-AC62-7B04F6640281/1e145cd8-6242-4f13-a506-db057fee9bcb.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      >
      </ion-img>
    </ion-avatar>
  </ion-row>
  <form *ngIf="profileForm" [formGroup]="profileForm">
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-row class="line">
          <ion-col size="1.5" class="align-item-center fs-24 icon-col">
            <ion-icon name="person-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-input
              [disabled]="!isEdit"
              type="text"
              formControlName="username"
              placeholder="{{ 'USERNAME' | translate}}"
            >
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-row class="line d-flex">
          <ion-col size="1.5" class="align-item-center fs-24 icon-col">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-input
              [disabled]="!isEdit"
              type="email"
              formControlName="email"
              placeholder="{{ 'EMAIL' | translate}}"
            >
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-row class="line d-flex">
          <ion-col size="1.5" class="align-item-center fs-24 icon-col">
            <ion-icon name="calendar-outline"></ion-icon>
          </ion-col>
          <ion-col class="ion-align-content-start">
            <div class="d-flex">
              <ion-datetime-button [disabled]="!isEdit" datetime="datetime"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    presentation="date"
                    id="datetime"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="changeEditMode()"
          class="ion-padding-horizontal primary-button"
        >
          {{'EDIT_PROFILE' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button>{{'SIGN_OUT' | translate}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button>{{'DELETE_PROFILE' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row> </ion-row>
  <ion-row> </ion-row>
  <ion-row> </ion-row>
  <ion-row> </ion-row>
</ion-content>
